{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "pushtoworkspace",
    "description" : "dummy",
    "version" : "1.0"
  },
  "servers" : [ {
    "url" : "https://catfact.ninja/",
    "x-name" : "Server1"
  } ],
  "paths" : {
    "/facts" : {
      "get" : {
        "tags" : [ "New Collection" ],
        "summary" : "pushtoworkspace",
        "description" : "dummy",
        "operationId" : "pushtoworkspace",
        "responses" : {
          "200" : {
            "description" : "Response for endpoint GET-facts",
            "headers" : {
              "Transfer-Encoding" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "Server" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "X-Ratelimit-Remaining" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "Access-Control-Allow-Origin" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "X-Content-Type-Options" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "Connection" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "Date" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "X-Frame-Options" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "X-Ratelimit-Limit" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "Cache-Control" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "Vary" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "Set-Cookie" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "X-XSS-Protection" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "Content-Type" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              }
            },
            "content" : {
              "*/*" : {
                "schema" : {
                  "required" : [ "current_page", "data", "first_page_url", "from", "last_page", "last_page_url", "links", "next_page_url", "path", "per_page", "to", "total" ],
                  "type" : "object",
                  "properties" : {
                    "current_page" : {
                      "type" : "integer"
                    },
                    "data" : {
                      "type" : "array",
                      "items" : {
                        "required" : [ "fact", "length" ],
                        "type" : "object",
                        "properties" : {
                          "fact" : {
                            "type" : "string"
                          },
                          "length" : {
                            "type" : "integer"
                          }
                        }
                      }
                    },
                    "first_page_url" : {
                      "type" : "string"
                    },
                    "from" : {
                      "type" : "integer"
                    },
                    "last_page" : {
                      "type" : "integer"
                    },
                    "last_page_url" : {
                      "type" : "string"
                    },
                    "links" : {
                      "type" : "array",
                      "items" : {
                        "required" : [ "active", "label" ],
                        "type" : "object",
                        "properties" : {
                          "label" : {
                            "type" : "string"
                          },
                          "active" : {
                            "type" : "boolean"
                          }
                        }
                      }
                    },
                    "next_page_url" : {
                      "type" : "string"
                    },
                    "path" : {
                      "type" : "string"
                    },
                    "per_page" : {
                      "type" : "integer"
                    },
                    "to" : {
                      "type" : "integer"
                    },
                    "total" : {
                      "type" : "integer"
                    }
                  },
                  "example" : "{\"current_page\":1,\"data\":[{\"fact\":\"Unlike dogs, cats do not have a sweet tooth. Scientists believe this is due to a mutation in a key taste receptor.\",\"length\":114},{\"fact\":\"When a cat chases its prey, it keeps its head level. Dogs and humans bob their heads up and down.\",\"length\":97},{\"fact\":\"The technical term for a cat\\u2019s hairball is a \\u201cbezoar.\\u201d\",\"length\":54},{\"fact\":\"A group of cats is called a \\u201cclowder.\\u201d\",\"length\":38},{\"fact\":\"A cat can\\u2019t climb head first down a tree because every claw on a cat\\u2019s paw points the same way. To get down from a tree, a cat must back down.\",\"length\":142},{\"fact\":\"Cats make about 100 different sounds. Dogs make only about 10.\",\"length\":62},{\"fact\":\"Every year, nearly four million cats are eaten in Asia.\",\"length\":55},{\"fact\":\"There are more than 500 million domestic cats in the world, with approximately 40 recognized breeds.\",\"length\":100},{\"fact\":\"Approximately 24 cat skins can make a coat.\",\"length\":43},{\"fact\":\"While it is commonly thought that the ancient Egyptians were the first to domesticate cats, the oldest known pet cat was recently found in a 9,500-year-old grave on the Mediterranean island of Cyprus. This grave predates early Egyptian art depicting cats by 4,000 years or more.\",\"length\":278}],\"first_page_url\":\"https:\\/\\/catfact.ninja\\/facts?page=1\",\"from\":1,\"last_page\":34,\"last_page_url\":\"https:\\/\\/catfact.ninja\\/facts?page=34\",\"links\":[{\"url\":null,\"label\":\"Previous\",\"active\":false},{\"url\":\"https:\\/\\/catfact.ninja\\/facts?page=1\",\"label\":\"1\",\"active\":true},{\"url\":\"https:\\/\\/catfact.ninja\\/facts?page=2\",\"label\":\"2\",\"active\":false},{\"url\":\"https:\\/\\/catfact.ninja\\/facts?page=3\",\"label\":\"3\",\"active\":false},{\"url\":\"https:\\/\\/catfact.ninja\\/facts?page=4\",\"label\":\"4\",\"active\":false},{\"url\":\"https:\\/\\/catfact.ninja\\/facts?page=5\",\"label\":\"5\",\"active\":false},{\"url\":\"https:\\/\\/catfact.ninja\\/facts?page=6\",\"label\":\"6\",\"active\":false},{\"url\":\"https:\\/\\/catfact.ninja\\/facts?page=7\",\"label\":\"7\",\"active\":false},{\"url\":\"https:\\/\\/catfact.ninja\\/facts?page=8\",\"label\":\"8\",\"active\":false},{\"url\":\"https:\\/\\/catfact.ninja\\/facts?page=9\",\"label\":\"9\",\"active\":false},{\"url\":\"https:\\/\\/catfact.ninja\\/facts?page=10\",\"label\":\"10\",\"active\":false},{\"url\":null,\"label\":\"...\",\"active\":false},{\"url\":\"https:\\/\\/catfact.ninja\\/facts?page=33\",\"label\":\"33\",\"active\":false},{\"url\":\"https:\\/\\/catfact.ninja\\/facts?page=34\",\"label\":\"34\",\"active\":false},{\"url\":\"https:\\/\\/catfact.ninja\\/facts?page=2\",\"label\":\"Next\",\"active\":false}],\"next_page_url\":\"https:\\/\\/catfact.ninja\\/facts?page=2\",\"path\":\"https:\\/\\/catfact.ninja\\/facts\",\"per_page\":10,\"prev_page_url\":null,\"to\":10,\"total\":332}"
                }
              }
            }
          }
        }
      }
    }
  },
  "components" : { },
  "x-original-swagger-version" : "2.0",
  "tags" : [ ],
  "security" : [ ],
  "x-mock" : true
}